In [1]:
!pip install --upgrade pip

Requirement already satisfied: pip in c:\python38\lib\site-packages (24.0)

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python38\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python38\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\python38\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in c:\python38\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

# Code

In [2]:
import pandas as pd

**Note:**

1/Allowed libraries: standard libraries like sickit-learn, pytorch, tensorflow!

2/Allowed to use pandas, numpy or excell for data extraction and preparation

3/ code from official documentation or course labs given by teacher or from recommended textbooks

4/ Do not use generative ai

In [3]:
food_trade_indicators_file_path = 'ML Coursework Dataset/Food trade indicators - FAOSTAT_data_en_2-22-2024.csv'
food_trade_indicators_df = pd.read_csv(food_trade_indicators_file_path)

In [4]:
food_trade_indicators_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1991,1991,1000 USD,41600.00,A,Official figure,NaN
1,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1992,1992,1000 USD,25600.00,E,Estimated value,NaN
2,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1993,1993,1000 USD,40000.00,E,Estimated value,NaN
3,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1994,1994,1000 USD,25700.00,E,Estimated value,NaN
4,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1995,1995,1000 USD,37720.00,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000 USD,794956.99,A,Official figure,NaN
141734,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2021,2021,1000 USD,18265.04,A,Official figure,NaN
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000 USD,836533.69,A,Official figure,NaN
141736,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2022,2022,1000 USD,27138.09,A,Official figure,NaN
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000 USD,998057.60,A,Official figure,NaN

In [5]:
food_trade_indicators_df['Element Copy'] = food_trade_indicators_df['Element']

In [6]:
food_trade_indicators_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Element Copy
0,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1991,1991,1000 USD,41600.00,A,Official figure,NaN,Import Value
1,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1992,1992,1000 USD,25600.00,E,Estimated value,NaN,Import Value
2,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1993,1993,1000 USD,40000.00,E,Estimated value,NaN,Import Value
3,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1994,1994,1000 USD,25700.00,E,Estimated value,NaN,Import Value
4,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1995,1995,1000 USD,37720.00,E,Estimated value,NaN,Import Value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000 USD,794956.99,A,Official figure,NaN,Export Value
141734,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2021,2021,1000 USD,18265.04,A,Official figure,NaN,Import Value
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000 USD,836533.69,A,Official figure,NaN,Export Value
141736,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2022,2022,1000 USD,27138.09,A,Official figure,NaN,Import Value
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000 USD,998057.60,A,Official figure,NaN,Export Value

In [7]:
food_trade_indicators_export_import_df = pd.get_dummies(food_trade_indicators_df, columns=['Element Copy'], prefix='', prefix_sep='')

In [8]:
food_trade_indicators_export_import_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Export Value,Import Value
0,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1991,1991,1000 USD,41600.00,A,Official figure,NaN,False,True
1,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1992,1992,1000 USD,25600.00,E,Estimated value,NaN,False,True
2,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1993,1993,1000 USD,40000.00,E,Estimated value,NaN,False,True
3,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1994,1994,1000 USD,25700.00,E,Estimated value,NaN,False,True
4,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1995,1995,1000 USD,37720.00,E,Estimated value,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000 USD,794956.99,A,Official figure,NaN,True,False
141734,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2021,2021,1000 USD,18265.04,A,Official figure,NaN,False,True
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000 USD,836533.69,A,Official figure,NaN,True,False
141736,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2022,2022,1000 USD,27138.09,A,Official figure,NaN,False,True
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000 USD,998057.60,A,Official figure,NaN,True,False

In [9]:
count_export_true = (food_trade_indicators_export_import_df['Export Value'] == True).sum()
count_import_true = (food_trade_indicators_export_import_df['Import Value'] == True).sum()
count_export_true

67824

In [10]:
count_import_true + count_export_true

141738

In [11]:
food_trade_indicators_export_df = food_trade_indicators_export_import_df[food_trade_indicators_export_import_df['Export Value'] == True]

In [12]:
food_trade_indicators_export_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Export Value,Import Value
19,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2009,2009,1000 USD,15.00,A,Official figure,NaN,True,False
21,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2010,2010,1000 USD,54.00,A,Official figure,NaN,True,False
23,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2011,2011,1000 USD,0.00,E,Estimated value,NaN,True,False
25,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2012,2012,1000 USD,0.00,E,Estimated value,NaN,True,False
27,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2013,2013,1000 USD,0.00,E,Estimated value,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141729,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2018,2018,1000 USD,893113.05,A,Official figure,NaN,True,False
141731,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2019,2019,1000 USD,828488.44,A,Official figure,NaN,True,False
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000 USD,794956.99,A,Official figure,NaN,True,False
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000 USD,836533.69,A,Official figure,NaN,True,False
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000 USD,998057.60,A,Official figure,NaN,True,False

In [13]:
# possible values of item
food_trade_indicators_export_df['Item'].value_counts()

Item
Other food                          6153
Non-food                            6117
Fruit and Vegetables                6054
Cereals and Preparations            5831
Sugar and Honey                     5708
Fats and Oils (excluding Butter)    5684
Alcoholic Beverages                 5611
Meat and Meat Preparations          5594
Tobacco                             5524
Dairy Products and Eggs             5521
Non-alcoholic Beverages             5468
Non-edible Fats and Oils            4559
Name: count, dtype: int64

In [14]:
#number of missing values for each column
food_trade_indicators_export_df.isnull().sum()

Domain Code             0
Domain                  0
Area Code (M49)         0
Area                    0
Element Code            0
Element                 0
Item Code (CPC)         0
Item                    0
Year Code               0
Year                    0
Unit                    0
Value                   0
Flag                    0
Flag Description        0
Note                67824
Export Value            0
Import Value            0
dtype: int64

In [15]:
# We can drop columns "Export Value" and "Import Value" as they served to filter the dataset "food_trade_indicators_export_df". 
# We drop column "Note" as it has only missing values
#food_trade_indicators_export_df.drop('Export Value')
food_trade_indicators_export_df = food_trade_indicators_export_df.drop(columns =['Import Value','Export Value', 'Note'])
# convert unit column to float type
food_trade_indicators_export_df['Unit'] = food_trade_indicators_export_df['Unit'].str.replace(' USD', '', regex=False).astype(float)
# We create the export value column by multiplying Unit * Flag and we can rename the resulting column to "export value"
food_trade_indicators_export_df['Export Value'] = food_trade_indicators_export_df['Unit'] * food_trade_indicators_export_df['Value']

In [16]:
food_trade_indicators_export_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Export Value
19,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2009,2009,1000.0,15.00,A,Official figure,15000.0
21,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2010,2010,1000.0,54.00,A,Official figure,54000.0
23,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2011,2011,1000.0,0.00,E,Estimated value,0.0
25,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2012,2012,1000.0,0.00,E,Estimated value,0.0
27,TCL,Crops and livestock products,4,Afghanistan,5922,Export Value,F1888,Cereals and Preparations,2013,2013,1000.0,0.00,E,Estimated value,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141729,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2018,2018,1000.0,893113.05,A,Official figure,893113050.0
141731,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2019,2019,1000.0,828488.44,A,Official figure,828488440.0
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000.0,794956.99,A,Official figure,794956990.0
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000.0,836533.69,A,Official figure,836533690.0
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000.0,998057.60,A,Official figure,998057600.0

In [17]:
# Unit and Value can be dropped as they served to create the Label column Export Value: 
columns_to_drop = ['Unit', 'Value']

In [18]:
# Domain Code and Domain contain the same information
columns_to_drop.append('Domain Code')
# Area Code (M49) and Area contain the same information
columns_to_drop.append('Area Code (M49)')
# Element Code and Element contains the same information
columns_to_drop.append('Element Code')
columns_to_drop.append('Element')
# Item Code (CPC) and Item contains the same information
columns_to_drop.append('Item Code (CPC)')
# Year Code and Year Contain the same information
columns_to_drop.append('Year Code')
# Flag and Flad Description contains the same information
columns_to_drop.append('Flag')

In [19]:
columns_to_drop

['Unit',
 'Value',
 'Domain Code',
 'Area Code (M49)',
 'Element Code',
 'Element',
 'Item Code (CPC)',
 'Year Code',
 'Flag']

In [20]:
food_trade_indicators_export_df = food_trade_indicators_export_df.drop(columns =columns_to_drop)

In [21]:
food_trade_indicators_export_df.head(5)

,Domain,Area,Item,Year,Flag Description,Export Value
19,Crops and livestock products,Afghanistan,Cereals and Preparations,2009,Official figure,15000.0
21,Crops and livestock products,Afghanistan,Cereals and Preparations,2010,Official figure,54000.0
23,Crops and livestock products,Afghanistan,Cereals and Preparations,2011,Estimated value,0.0
25,Crops and livestock products,Afghanistan,Cereals and Preparations,2012,Estimated value,0.0
27,Crops and livestock products,Afghanistan,Cereals and Preparations,2013,Estimated value,0.0

In [22]:
food_trade_indicators_export_df.tail(5)

,Domain,Area,Item,Year,Flag Description,Export Value
141729,Crops and livestock products,Zimbabwe,Tobacco,2018,Official figure,893113050.0
141731,Crops and livestock products,Zimbabwe,Tobacco,2019,Official figure,828488440.0
141733,Crops and livestock products,Zimbabwe,Tobacco,2020,Official figure,794956990.0
141735,Crops and livestock products,Zimbabwe,Tobacco,2021,Official figure,836533690.0
141737,Crops and livestock products,Zimbabwe,Tobacco,2022,Official figure,998057600.0

In [23]:
output_file_path = 'ML Coursework Dataset/processed_food_trade_indicators.csv'
food_trade_indicators_export_df.to_csv(output_file_path, index=False)

In [24]:
food_security_indicator_df = pd.read_csv('ML Coursework Dataset/Food security indicators  - FAOSTAT_data_en_2-22-2024.csv')

In [25]:
# one hot encoding on Item
food_security_indicator_df_itemized = pd.get_dummies(food_security_indicator_df, columns=['Item'])

In [26]:
food_security_indicator_df_itemized

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Year Code,Year,Unit,...,Item_Average dietary energy supply adequacy (percent) (3-year average),Item_Average protein supply (g/cap/day) (3-year average),Item_Cereal import dependency ratio (percent) (3-year average),Item_Per capita food production variability (constant 2014-2016 thousand int$ per capita),Item_Per capita food supply variability (kcal/cap/day),Item_Percent of arable land equipped for irrigation (percent) (3-year average),Item_Political stability and absence of violence/terrorism (index),Item_Prevalence of anemia among women of reproductive age (15-49 years),Item_Prevalence of low birthweight (percent),Item_Value of food imports in total merchandise exports (percent) (3-year average)
0,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,20002002,2000-2002,%,...,True,False,False,False,False,False,False,False,False,False
1,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,20012003,2001-2003,%,...,True,False,False,False,False,False,False,False,False,False
2,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,20022004,2002-2004,%,...,True,False,False,False,False,False,False,False,False,False
3,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,20032005,2003-2005,%,...,True,False,False,False,False,False,False,False,False,False
4,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,20042006,2004-2006,%,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36507,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21049,2016,2016,%,...,False,False,False,False,False,False,False,False,True,False
36508,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21049,2017,2017,%,...,False,False,False,False,False,False,False,False,True,False
36509,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21049,2018,2018,%,...,False,False,False,False,False,False,False,False,True,False
36510,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21049,2019,2019,%,...,False,False,False,False,False,False,False,False,True,False
36511,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21049,2020,2020,%,...,False,False,False,False,False,False,False,False,True,False

In [27]:
# column of value of "Item_Value of food imports in total merchandise exports (percent) (3-year average)"
# filter
food_security_indicator_df_itemized = food_security_indicator_df_itemized[food_security_indicator_df_itemized['Item_Value of food imports in total merchandise exports (percent) (3-year average)'] == True]

In [28]:
food_security_indicator_df_itemized

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Year Code,Year,Unit,...,Item_Average dietary energy supply adequacy (percent) (3-year average),Item_Average protein supply (g/cap/day) (3-year average),Item_Cereal import dependency ratio (percent) (3-year average),Item_Per capita food production variability (constant 2014-2016 thousand int$ per capita),Item_Per capita food supply variability (kcal/cap/day),Item_Percent of arable land equipped for irrigation (percent) (3-year average),Item_Political stability and absence of violence/terrorism (index),Item_Prevalence of anemia among women of reproductive age (15-49 years),Item_Prevalence of low birthweight (percent),Item_Value of food imports in total merchandise exports (percent) (3-year average)
79,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21033,20002002,2000-2002,%,...,False,False,False,False,False,False,False,False,False,True
80,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21033,20012003,2001-2003,%,...,False,False,False,False,False,False,False,False,False,True
81,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21033,20022004,2002-2004,%,...,False,False,False,False,False,False,False,False,False,True
82,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21033,20032005,2003-2005,%,...,False,False,False,False,False,False,False,False,False,True
83,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21033,20042006,2004-2006,%,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36403,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21033,20152017,2015-2017,%,...,False,False,False,False,False,False,False,False,False,True
36404,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21033,20162018,2016-2018,%,...,False,False,False,False,False,False,False,False,False,True
36405,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21033,20172019,2017-2019,%,...,False,False,False,False,False,False,False,False,False,True
36406,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21033,20182020,2018-2020,%,...,False,False,False,False,False,False,False,False,False,True
36407,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,21033,20192021,2019-2021,%,...,False,False,False,False,False,False,False,False,False,True

In [29]:
# keep only useful column: 
# Area, YearCode, Year, Unit, Value
columns_to_keep = ['Area', 'Year Code', 'Year', 'Unit', 'Value']
food_security_indicator_df_itemized= food_security_indicator_df_itemized.loc[:, food_security_indicator_df_itemized.columns.isin(columns_to_keep)]

In [30]:
food_security_indicator_df_itemized

              Area  Year Code       Year Unit  Value
79     Afghanistan   20002002  2000-2002    %  240.0
80     Afghanistan   20012003  2001-2003    %  281.0
81     Afghanistan   20022004  2002-2004    %  199.0
82     Afghanistan   20032005  2003-2005    %  187.0
83     Afghanistan   20042006  2004-2006    %  175.0
...            ...        ...        ...  ...    ...
36403     Zimbabwe   20152017  2015-2017    %   25.0
36404     Zimbabwe   20162018  2016-2018    %   20.0
36405     Zimbabwe   20172019  2017-2019    %   13.0
36406     Zimbabwe   20182020  2018-2020    %   14.0
36407     Zimbabwe   20192021  2019-2021    %   15.0

[3858 rows x 5 columns]

In [31]:
#average dietary energy 3y percent average value: value * unit(percent)
#unit: when unit ends with % ==> unit = 1/100
#when unit = 'g/pc/d' ==> 1
#when unit = 'idenx' ==> 1

# Function to transform 'Unit' based on specified rules
def transform_unit(unit):
    if unit.endswith('%'):
        return 1/100
    elif unit in ['g/pc/d', 'index']:
        return 1
    else:
        return None 
food_security_indicator_df_itemized['Transformed Unit'] = food_security_indicator_df_itemized['Unit'].apply(transform_unit)
food_security_indicator_df_itemized['food imports in total merchandise exports-percent-3-year average'] = food_security_indicator_df_itemized['Value'] * food_security_indicator_df_itemized['Transformed Unit'].fillna(0)

C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\2301843243.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_security_indicator_df_itemized['Transformed Unit'] = food_security_indicator_df_itemized['Unit'].apply(transform_unit)
C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\2301843243.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_security_indicator_df_itemized['food imports in total merchandise exports-percent-3-year average'] = food_security_indicator_df_itemized['Value'] * food_security_indicator_df_itemized['Transformed Unit'].fillna(0)

In [32]:
food_security_indicator_df_itemized

,Area,Year Code,Year,Unit,Value,Transformed Unit,food imports in total merchandise exports-percent-3-year average
79,Afghanistan,20002002,2000-2002,%,240.0,0.01,2.40
80,Afghanistan,20012003,2001-2003,%,281.0,0.01,2.81
81,Afghanistan,20022004,2002-2004,%,199.0,0.01,1.99
82,Afghanistan,20032005,2003-2005,%,187.0,0.01,1.87
83,Afghanistan,20042006,2004-2006,%,175.0,0.01,1.75
...,...,...,...,...,...,...,...
36403,Zimbabwe,20152017,2015-2017,%,25.0,0.01,0.25
36404,Zimbabwe,20162018,2016-2018,%,20.0,0.01,0.20
36405,Zimbabwe,20172019,2017-2019,%,13.0,0.01,0.13
36406,Zimbabwe,20182020,2018-2020,%,14.0,0.01,0.14
36407,Zimbabwe,20192021,2019-2021,%,15.0,0.01,0.15

In [33]:
columns_to_drop = ['Unit','Transformed Unit', 'Value']
food_security_indicator_df_itemized = food_security_indicator_df_itemized.drop(columns = columns_to_drop)

In [34]:
food_security_indicator_df_itemized

,Area,Year Code,Year,food imports in total merchandise exports-percent-3-year average
79,Afghanistan,20002002,2000-2002,2.40
80,Afghanistan,20012003,2001-2003,2.81
81,Afghanistan,20022004,2002-2004,1.99
82,Afghanistan,20032005,2003-2005,1.87
83,Afghanistan,20042006,2004-2006,1.75
...,...,...,...,...
36403,Zimbabwe,20152017,2015-2017,0.25
36404,Zimbabwe,20162018,2016-2018,0.20
36405,Zimbabwe,20172019,2017-2019,0.13
36406,Zimbabwe,20182020,2018-2020,0.14
36407,Zimbabwe,20192021,2019-2021,0.15

In [35]:
#extract a column Year that will contain only the last yead it the Year column, convert it to numerical value
food_security_indicator_df_itemized['Year'] = food_security_indicator_df_itemized['Year'].astype(str).str.split('-').str[-1].astype(int)

In [36]:
food_security_indicator_df_itemized

,Area,Year Code,Year,food imports in total merchandise exports-percent-3-year average
79,Afghanistan,20002002,2002,2.40
80,Afghanistan,20012003,2003,2.81
81,Afghanistan,20022004,2004,1.99
82,Afghanistan,20032005,2005,1.87
83,Afghanistan,20042006,2006,1.75
...,...,...,...,...
36403,Zimbabwe,20152017,2017,0.25
36404,Zimbabwe,20162018,2018,0.20
36405,Zimbabwe,20172019,2019,0.13
36406,Zimbabwe,20182020,2020,0.14
36407,Zimbabwe,20192021,2021,0.15

In [37]:
food_trade_indicators_export_df.columns

Index(['Domain', 'Area', 'Item', 'Year', 'Flag Description', 'Export Value'], dtype='object')

In [38]:
food_security_indicator_df_itemized.columns

Index(['Area', 'Year Code', 'Year',
       'food imports in total merchandise exports-percent-3-year average'],
      dtype='object')

In [39]:
# Join the DataFrames on 'Area' and 'Year'
food_trade_indicators_export_security_indicator_df = pd.merge(food_trade_indicators_export_df, food_security_indicator_df_itemized,
                     on=['Area', 'Year'], how='left')

In [40]:
food_trade_indicators_export_security_indicator_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67824 entries, 0 to 67823
Data columns (total 8 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Domain                                                            67824 non-null  object
 1   Area                                                              67824 non-null  object
 2   Item                                                              67824 non-null  object
 3   Year                                                              67824 non-null  int64
 4   Flag Description                                                  67824 non-null  object
 5   Export Value                                                      67824 non-null  float64
 6   Year Code                                                         42919 non-null  float64
 7   food imports in total merchandise exports-percent-3-year average  42919 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.1+ MB

In [41]:
output_file_path = 'ML Coursework Dataset/processed_food_trade_indicators_export_security_indicator.csv'
food_trade_indicators_export_security_indicator_df.to_csv(output_file_path, index=False)

In [42]:
# take export quantity from food balance!
# read csv food_balance to dataframe
food_balance_df = pd.read_csv('ML Coursework Dataset/Food balances indicators - FAOSTAT_data_en_2-22-2024.csv')

In [43]:
food_balance_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2905,Cereals - Excluding Beer,2010,2010,1000 t,2000.00,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2905,Cereals - Excluding Beer,2011,2011,1000 t,2448.00,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2905,Cereals - Excluding Beer,2012,2012,1000 t,2001.00,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2905,Cereals - Excluding Beer,2013,2013,1000 t,2155.00,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2905,Cereals - Excluding Beer,2014,2014,1000 t,1840.00,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148036,FBS,Food Balances (2010-),716,Zimbabwe,5142,Food,S2960,"Fish, Seafood",2017,2017,1000 t,57.96,E,Estimated value
148037,FBS,Food Balances (2010-),716,Zimbabwe,5142,Food,S2960,"Fish, Seafood",2018,2018,1000 t,46.91,E,Estimated value
148038,FBS,Food Balances (2010-),716,Zimbabwe,5142,Food,S2960,"Fish, Seafood",2019,2019,1000 t,31.08,E,Estimated value
148039,FBS,Food Balances (2010-),716,Zimbabwe,5142,Food,S2960,"Fish, Seafood",2020,2020,1000 t,31.08,E,Estimated value
148040,FBS,Food Balances (2010-),716,Zimbabwe,5142,Food,S2960,"Fish, Seafood",2021,2021,1000 t,31.08,E,Estimated value

In [44]:
# one hot encoding on Element, filter on ExportQuantity = True
food_balance_df = pd.get_dummies(food_balance_df, columns=['Element'])

In [45]:
food_balance_export_quantity_df = food_balance_df[food_balance_df['Element_Export Quantity'] == True]

In [46]:
food_balance_export_quantity_df.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Item Code (FBS)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description', 'Element_Export Quantity', 'Element_Food',
       'Element_Import Quantity', 'Element_Losses',
       'Element_Other uses (non-food)'],
      dtype='object')

In [47]:
columns_to_keep = ['Area','Item','Year Code','Year','Unit', 'Value', 'Flag',
       'Flag Description', 'Element_Export Quantity']

In [48]:
#food_balance_export_quantity_df_prepared = food_balance_export_quantity_df[columns_to_keep]
food_balance_export_quantity_prepared_df= food_balance_export_quantity_df.loc[:, food_balance_export_quantity_df.columns.isin(columns_to_keep)]
food_balance_export_quantity_prepared_df

,Area,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Element_Export Quantity
12,Afghanistan,Cereals - Excluding Beer,2010,2010,1000 t,0.00,E,Estimated value,True
13,Afghanistan,Cereals - Excluding Beer,2011,2011,1000 t,0.00,E,Estimated value,True
14,Afghanistan,Cereals - Excluding Beer,2012,2012,1000 t,0.00,E,Estimated value,True
15,Afghanistan,Cereals - Excluding Beer,2013,2013,1000 t,0.00,E,Estimated value,True
16,Afghanistan,Cereals - Excluding Beer,2014,2014,1000 t,2.00,E,Estimated value,True
...,...,...,...,...,...,...,...,...,...
148012,Zimbabwe,"Fish, Seafood",2017,2017,1000 t,3.85,E,Estimated value,True
148013,Zimbabwe,"Fish, Seafood",2018,2018,1000 t,4.94,E,Estimated value,True
148014,Zimbabwe,"Fish, Seafood",2019,2019,1000 t,5.53,E,Estimated value,True
148015,Zimbabwe,"Fish, Seafood",2020,2020,1000 t,5.53,E,Estimated value,True
148016,Zimbabwe,"Fish, Seafood",2021,2021,1000 t,5.53,E,Estimated value,True

In [49]:
food_balance_export_quantity_prepared_df['Item'].unique()

array(['Cereals - Excluding Beer', 'Starchy Roots', 'Sugar Crops',
       'Sugar & Sweeteners', 'Pulses', 'Treenuts', 'Oilcrops',
       'Vegetable Oils', 'Vegetables', 'Fruits - Excluding Wine',
       'Stimulants', 'Spices', 'Alcoholic Beverages', 'Meat', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood'], dtype=object)

target Item that exists in the export dataset

Other food                          6153

Non-food                            6117

Fruit and Vegetables                6054

Cereals and Preparations            5831

Sugar and Honey                     5708

Fats and Oils (excluding Butter)    5684

Alcoholic Beverages                 5611

Meat and Meat Preparations          5594

Tobacco                             5524

Dairy Products and Eggs             5521

Non-alcoholic Beverages             5468

Non-edible Fats and Oils            4559

Name: count, dtype: int64

In [50]:
mapping_dict = {
    'Cereals - Excluding Beer': 'Cereals and Preparations',
    'Starchy Roots': 'Other food',
    'Sugar Crops': 'Sugar and Honey',
    'Sugar & Sweeteners': 'Sugar and Honey',
    'Pulses': 'Other food',
    'Treenuts': 'Other food',
    'Oilcrops': 'Fats and Oils (excluding Butter)',
    'Vegetable Oils': 'Fats and Oils (excluding Butter)',
    'Vegetables': 'Fruit and Vegetables',
    'Fruits - Excluding Wine': 'Fruit and Vegetables',
    'Stimulants': 'Non-alcoholic Beverages',
    'Spices': 'Other food',
    'Alcoholic Beverages': 'Alcoholic Beverages',
    'Meat': 'Meat and Meat Preparations',
    'Eggs': 'Dairy Products and Eggs',
    'Milk - Excluding Butter': 'Dairy Products and Eggs',
    'Fish, Seafood': 'Meat and Meat Preparations'
}

In [51]:
food_balance_export_quantity_prepared_df['export item'] = food_balance_export_quantity_prepared_df['Item'].map(mapping_dict)

C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\2336990978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_balance_export_quantity_prepared_df['export item'] = food_balance_export_quantity_prepared_df['Item'].map(mapping_dict)

In [52]:
food_balance_export_quantity_prepared_df

,Area,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Element_Export Quantity,export item
12,Afghanistan,Cereals - Excluding Beer,2010,2010,1000 t,0.00,E,Estimated value,True,Cereals and Preparations
13,Afghanistan,Cereals - Excluding Beer,2011,2011,1000 t,0.00,E,Estimated value,True,Cereals and Preparations
14,Afghanistan,Cereals - Excluding Beer,2012,2012,1000 t,0.00,E,Estimated value,True,Cereals and Preparations
15,Afghanistan,Cereals - Excluding Beer,2013,2013,1000 t,0.00,E,Estimated value,True,Cereals and Preparations
16,Afghanistan,Cereals - Excluding Beer,2014,2014,1000 t,2.00,E,Estimated value,True,Cereals and Preparations
...,...,...,...,...,...,...,...,...,...,...
148012,Zimbabwe,"Fish, Seafood",2017,2017,1000 t,3.85,E,Estimated value,True,Meat and Meat Preparations
148013,Zimbabwe,"Fish, Seafood",2018,2018,1000 t,4.94,E,Estimated value,True,Meat and Meat Preparations
148014,Zimbabwe,"Fish, Seafood",2019,2019,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations
148015,Zimbabwe,"Fish, Seafood",2020,2020,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations
148016,Zimbabwe,"Fish, Seafood",2021,2021,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations

In [53]:
# create export quantity by tons, Unit to be converted to numeric 1000t --> 1000.00, export_quantity_tons = value * unit
# Define a function to convert units
def convert_unit(unit):
    if 't' in unit:
        # Remove 't' and convert to float
        return float(unit.replace('t', ''))
    return 1000.0  # default factor if no specific unit is recognized

# Apply the conversion function to the 'Unit' column
food_balance_export_quantity_prepared_df['Unit Numeric'] = food_balance_export_quantity_prepared_df['Unit'].apply(convert_unit)

# Calculate the export_quantity_tons
food_balance_export_quantity_prepared_df['export_quantity_tons'] = food_balance_export_quantity_prepared_df['Value'] * food_balance_export_quantity_prepared_df['Unit Numeric']

C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\2127720648.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_balance_export_quantity_prepared_df['Unit Numeric'] = food_balance_export_quantity_prepared_df['Unit'].apply(convert_unit)
C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\2127720648.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_balance_export_quantity_prepared_df['export_quantity_tons'] = food_balance_export_quantity_prepared_df['Value'] * food_balance_export_quantity_prepared_df['Unit Numeric']

In [54]:
food_balance_export_quantity_prepared_df

,Area,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Element_Export Quantity,export item,Unit Numeric,export_quantity_tons
12,Afghanistan,Cereals - Excluding Beer,2010,2010,1000 t,0.00,E,Estimated value,True,Cereals and Preparations,1000.0,0.0
13,Afghanistan,Cereals - Excluding Beer,2011,2011,1000 t,0.00,E,Estimated value,True,Cereals and Preparations,1000.0,0.0
14,Afghanistan,Cereals - Excluding Beer,2012,2012,1000 t,0.00,E,Estimated value,True,Cereals and Preparations,1000.0,0.0
15,Afghanistan,Cereals - Excluding Beer,2013,2013,1000 t,0.00,E,Estimated value,True,Cereals and Preparations,1000.0,0.0
16,Afghanistan,Cereals - Excluding Beer,2014,2014,1000 t,2.00,E,Estimated value,True,Cereals and Preparations,1000.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
148012,Zimbabwe,"Fish, Seafood",2017,2017,1000 t,3.85,E,Estimated value,True,Meat and Meat Preparations,1000.0,3850.0
148013,Zimbabwe,"Fish, Seafood",2018,2018,1000 t,4.94,E,Estimated value,True,Meat and Meat Preparations,1000.0,4940.0
148014,Zimbabwe,"Fish, Seafood",2019,2019,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations,1000.0,5530.0
148015,Zimbabwe,"Fish, Seafood",2020,2020,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations,1000.0,5530.0
148016,Zimbabwe,"Fish, Seafood",2021,2021,1000 t,5.53,E,Estimated value,True,Meat and Meat Preparations,1000.0,5530.0

In [55]:
columns_to_keep = ['Area','export item','Year Code','Year','export_quantity_tons']
food_balance_export_quantity_prepared_df= food_balance_export_quantity_prepared_df[columns_to_keep]

In [56]:
food_balance_export_quantity_prepared_df

,Area,export item,Year Code,Year,export_quantity_tons
12,Afghanistan,Cereals and Preparations,2010,2010,0.0
13,Afghanistan,Cereals and Preparations,2011,2011,0.0
14,Afghanistan,Cereals and Preparations,2012,2012,0.0
15,Afghanistan,Cereals and Preparations,2013,2013,0.0
16,Afghanistan,Cereals and Preparations,2014,2014,2000.0
...,...,...,...,...,...
148012,Zimbabwe,Meat and Meat Preparations,2017,2017,3850.0
148013,Zimbabwe,Meat and Meat Preparations,2018,2018,4940.0
148014,Zimbabwe,Meat and Meat Preparations,2019,2019,5530.0
148015,Zimbabwe,Meat and Meat Preparations,2020,2020,5530.0
148016,Zimbabwe,Meat and Meat Preparations,2021,2021,5530.0

In [57]:
# join food_trade_indicators_export_security_indicator_df with food_balance_export_quantity_prepared_df on Area, Year, item = export_item
food_trade_indicators_export_security_balance_df = pd.merge(
    food_trade_indicators_export_security_indicator_df,  
    food_balance_export_quantity_prepared_df,            
    how='left',                                        
    left_on=['Area', 'Year', 'Item'],                    
    right_on=['Area', 'Year', 'export item']             
)

In [58]:
output_file_path = 'ML Coursework Dataset/processed_food_trade_indicators_export_security_balance.csv'
food_trade_indicators_export_security_balance_df.to_csv(output_file_path, index=False)

In [59]:
# integrate crops production: 
crops_production_df = pd.read_csv('ML Coursework Dataset/Crops production indicators - FAOSTAT_data_en_2-22-2024.csv')

In [60]:
crops_production_df['Element'].unique()

array(['Yield'], dtype=object)

In [61]:
crops_production_df['Unit'].unique()

array(['100 g/ha'], dtype=object)

In [62]:
# Unit to numeric
crops_production_df['Unit'] = crops_production_df['Unit'].astype(str)
crops_production_df['Unit'] = crops_production_df['Unit'].str.extract('(\d+)').astype(float)
crops_production_df
# value to yield_value
# yield_value =  Value * unit
crops_production_df['yield_value'] = crops_production_df['Unit'] * crops_production_df['Value']

In [63]:
crops_production_df.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,yield_value
0,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2000,2000,100.0,8063,A,Official figure,NaN,806300.0
1,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2001,2001,100.0,10067,A,Official figure,NaN,1006700.0
2,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2002,2002,100.0,16698,A,Official figure,NaN,1669800.0
3,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2003,2003,100.0,14580,A,Official figure,NaN,1458000.0
4,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2004,2004,100.0,13348,A,Official figure,NaN,1334800.0

In [64]:
columns_to_keep = ['Area','Item','Year Code','Year','yield_value']
crops_production_df = crops_production_df[columns_to_keep]

In [65]:
crops_production_df

              Area                Item  Year Code  Year  yield_value
0      Afghanistan    Cereals, primary       2000  2000     806300.0
1      Afghanistan    Cereals, primary       2001  2001    1006700.0
2      Afghanistan    Cereals, primary       2002  2002    1669800.0
3      Afghanistan    Cereals, primary       2003  2003    1458000.0
4      Afghanistan    Cereals, primary       2004  2004    1334800.0
...            ...                 ...        ...   ...          ...
41644     Zimbabwe  Vegetables Primary       2018  2018    6651800.0
41645     Zimbabwe  Vegetables Primary       2019  2019    6483000.0
41646     Zimbabwe  Vegetables Primary       2020  2020    6562800.0
41647     Zimbabwe  Vegetables Primary       2021  2021    6612600.0
41648     Zimbabwe  Vegetables Primary       2022  2022    6585600.0

[41649 rows x 5 columns]

In [66]:
crops_production_df['Item'].unique()

array(['Cereals, primary', 'Citrus Fruit, Total',
       'Fibre Crops, Fibre Equivalent', 'Fruit Primary',
       'Oilcrops, Cake Equivalent', 'Oilcrops, Oil Equivalent',
       'Pulses, Total', 'Roots and Tubers, Total', 'Sugar Crops Primary',
       'Treenuts, Total', 'Vegetables Primary'], dtype=object)

In [67]:
food_trade_indicators_export_security_balance_df['Item'].unique()

array(['Cereals and Preparations', 'Fats and Oils (excluding Butter)',
       'Meat and Meat Preparations', 'Sugar and Honey',
       'Fruit and Vegetables', 'Dairy Products and Eggs',
       'Alcoholic Beverages', 'Non-alcoholic Beverages', 'Other food',
       'Non-food', 'Non-edible Fats and Oils', 'Tobacco'], dtype=object)

In [68]:
mapping_dict = {
    'Cereals, primary': 'Cereals and Preparations',
    'Citrus Fruit, Total': 'Fruit and Vegetables',
    'Fibre Crops, Fibre Equivalent': 'Other food',  # Assuming fiber crops are used as food supplements
    'Fruit Primary': 'Fruit and Vegetables',
    'Oilcrops, Cake Equivalent': 'Fats and Oils (excluding Butter)',  # Often used as animal feed, but fits here due to its nature
    'Oilcrops, Oil Equivalent': 'Fats and Oils (excluding Butter)',
    'Pulses, Total': 'Other food',  # Pulses are a major food item
    'Roots and Tubers, Total': 'Other food',  # Generally considered as primary food
    'Sugar Crops Primary': 'Sugar and Honey',
    'Treenuts, Total': 'Other food',
    'Vegetables Primary': 'Fruit and Vegetables'
}
crops_production_df['crops_target_item'] = crops_production_df['Item'].map(mapping_dict)
crops_production_df

,Area,Item,Year Code,Year,yield_value,crops_target_item
0,Afghanistan,"Cereals, primary",2000,2000,806300.0,Cereals and Preparations
1,Afghanistan,"Cereals, primary",2001,2001,1006700.0,Cereals and Preparations
2,Afghanistan,"Cereals, primary",2002,2002,1669800.0,Cereals and Preparations
3,Afghanistan,"Cereals, primary",2003,2003,1458000.0,Cereals and Preparations
4,Afghanistan,"Cereals, primary",2004,2004,1334800.0,Cereals and Preparations
...,...,...,...,...,...,...
41644,Zimbabwe,Vegetables Primary,2018,2018,6651800.0,Fruit and Vegetables
41645,Zimbabwe,Vegetables Primary,2019,2019,6483000.0,Fruit and Vegetables
41646,Zimbabwe,Vegetables Primary,2020,2020,6562800.0,Fruit and Vegetables
41647,Zimbabwe,Vegetables Primary,2021,2021,6612600.0,Fruit and Vegetables
41648,Zimbabwe,Vegetables Primary,2022,2022,6585600.0,Fruit and Vegetables

In [69]:
# left merge of food_trade_indicators_export_security_balance_df with crops_production_df on Area, Year, Item and crops_target_item

food_trade_indicators_export_security_balance_crops_prod_df = pd.merge(
    left=food_trade_indicators_export_security_balance_df,
    right=crops_production_df,
    how='left',  
    left_on=['Area', 'Year', 'Item'],  
    right_on=['Area', 'Year', 'crops_target_item']  
)

In [70]:
food_trade_indicators_export_security_balance_crops_prod_df

,Domain,Area,Item_x,Year,Flag Description,Export Value,Year Code_x,food imports in total merchandise exports-percent-3-year average,export item,Year Code_y,export_quantity_tons,Item_y,Year Code,yield_value,crops_target_item
0,Crops and livestock products,Afghanistan,Cereals and Preparations,2009,Official figure,15000.0,20072009.0,2.16,NaN,NaN,NaN,"Cereals, primary",2009.0,2040700.0,Cereals and Preparations
1,Crops and livestock products,Afghanistan,Cereals and Preparations,2010,Official figure,54000.0,20082010.0,2.59,Cereals and Preparations,2010.0,0.0,"Cereals, primary",2010.0,2011100.0,Cereals and Preparations
2,Crops and livestock products,Afghanistan,Cereals and Preparations,2011,Estimated value,0.0,20092011.0,3.11,Cereals and Preparations,2011.0,0.0,"Cereals, primary",2011.0,1659900.0,Cereals and Preparations
3,Crops and livestock products,Afghanistan,Cereals and Preparations,2012,Estimated value,0.0,20102012.0,3.43,Cereals and Preparations,2012.0,0.0,"Cereals, primary",2012.0,2094200.0,Cereals and Preparations
4,Crops and livestock products,Afghanistan,Cereals and Preparations,2013,Estimated value,0.0,20112013.0,3.42,Cereals and Preparations,2013.0,0.0,"Cereals, primary",2013.0,2127700.0,Cereals and Preparations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121118,Crops and livestock products,Zimbabwe,Tobacco,2018,Official figure,893113050.0,20162018.0,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121119,Crops and livestock products,Zimbabwe,Tobacco,2019,Official figure,828488440.0,20172019.0,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121120,Crops and livestock products,Zimbabwe,Tobacco,2020,Official figure,794956990.0,20182020.0,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121121,Crops and livestock products,Zimbabwe,Tobacco,2021,Official figure,836533690.0,20192021.0,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121122,Crops and livestock products,Zimbabwe,Tobacco,2022,Official figure,998057600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
food_trade_indicators_export_security_balance_crops_prod_df.describe()

,Year,Export Value,Year Code_x,food imports in total merchandise exports-percent-3-year average,Year Code_y,export_quantity_tons,Year Code,yield_value
count,121123.000000,1.211230e+05,9.345100e+04,93451.000000,61585.000000,6.158500e+04,69053.000000,6.905300e+04
mean,2009.844811,8.459619e+08,2.011097e+07,0.374212,2015.458212,4.907689e+05,2012.833678,1.014085e+07
std,8.441557,2.977981e+09,5.398682e+04,0.945548,3.464759,2.899271e+06,5.932474,1.599025e+07
min,1991.000000,0.000000e+00,2.000200e+07,0.010000,2010.000000,-6.200000e+04,2000.000000,0.000000e+00
25%,2004.000000,1.554910e+06,2.007201e+07,0.060000,2012.000000,0.000000e+00,2009.000000,8.604000e+05
50%,2012.000000,3.687600e+07,2.011201e+07,0.130000,2015.000000,1.000000e+04,2013.000000,3.333300e+06
75%,2017.000000,3.535740e+08,2.015202e+07,0.300000,2018.000000,1.110000e+05,2018.000000,1.313840e+07
max,2022.000000,5.784916e+10,2.019202e+07,57.350000,2021.000000,1.102460e+08,2022.000000,1.359231e+08

In [72]:
food_trade_indicators_export_security_balance_crops_prod_df.columns

Index(['Domain', 'Area', 'Item_x', 'Year', 'Flag Description', 'Export Value',
       'Year Code_x',
       'food imports in total merchandise exports-percent-3-year average',
       'export item', 'Year Code_y', 'export_quantity_tons', 'Item_y',
       'Year Code', 'yield_value', 'crops_target_item'],
      dtype='object')

In [73]:
columns_to_drop = ['Year Code_x','Year Code_y','Year Code']
food_trade_indicators_export_security_balance_crops_prod_df = food_trade_indicators_export_security_balance_crops_prod_df.drop(columns = columns_to_drop)

In [74]:
food_trade_indicators_export_security_balance_crops_prod_df

,Domain,Area,Item_x,Year,Flag Description,Export Value,food imports in total merchandise exports-percent-3-year average,export item,export_quantity_tons,Item_y,yield_value,crops_target_item
0,Crops and livestock products,Afghanistan,Cereals and Preparations,2009,Official figure,15000.0,2.16,NaN,NaN,"Cereals, primary",2040700.0,Cereals and Preparations
1,Crops and livestock products,Afghanistan,Cereals and Preparations,2010,Official figure,54000.0,2.59,Cereals and Preparations,0.0,"Cereals, primary",2011100.0,Cereals and Preparations
2,Crops and livestock products,Afghanistan,Cereals and Preparations,2011,Estimated value,0.0,3.11,Cereals and Preparations,0.0,"Cereals, primary",1659900.0,Cereals and Preparations
3,Crops and livestock products,Afghanistan,Cereals and Preparations,2012,Estimated value,0.0,3.43,Cereals and Preparations,0.0,"Cereals, primary",2094200.0,Cereals and Preparations
4,Crops and livestock products,Afghanistan,Cereals and Preparations,2013,Estimated value,0.0,3.42,Cereals and Preparations,0.0,"Cereals, primary",2127700.0,Cereals and Preparations
...,...,...,...,...,...,...,...,...,...,...,...,...
121118,Crops and livestock products,Zimbabwe,Tobacco,2018,Official figure,893113050.0,0.20,NaN,NaN,NaN,NaN,NaN
121119,Crops and livestock products,Zimbabwe,Tobacco,2019,Official figure,828488440.0,0.13,NaN,NaN,NaN,NaN,NaN
121120,Crops and livestock products,Zimbabwe,Tobacco,2020,Official figure,794956990.0,0.14,NaN,NaN,NaN,NaN,NaN
121121,Crops and livestock products,Zimbabwe,Tobacco,2021,Official figure,836533690.0,0.15,NaN,NaN,NaN,NaN,NaN
121122,Crops and livestock products,Zimbabwe,Tobacco,2022,Official figure,998057600.0,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
food_trade_indicators_export_security_balance_crops_prod_df.columns

Index(['Domain', 'Area', 'Item_x', 'Year', 'Flag Description', 'Export Value',
       'food imports in total merchandise exports-percent-3-year average',
       'export item', 'export_quantity_tons', 'Item_y', 'yield_value',
       'crops_target_item'],
      dtype='object')

In [76]:
columns_to_drop = ['Flag Description','export item','Item_y','crops_target_item']
food_trade_indicators_export_security_balance_crops_prod_df = food_trade_indicators_export_security_balance_crops_prod_df.drop(columns = columns_to_drop)

In [77]:
output_file_path = 'ML Coursework Dataset/processed_food_trade_indicators_export_security_balance_crops_prod.csv'
food_trade_indicators_export_security_balance_crops_prod_df.to_csv(output_file_path, index=False)

In [78]:
# Integrate Land Use
land_use_df = pd.read_csv('ML Coursework Dataset/Land use - FAOSTAT_data_en_2-22-2024.csv')

C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\3201332481.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  land_use_df = pd.read_csv('ML Coursework Dataset/Land use - FAOSTAT_data_en_2-22-2024.csv')

In [79]:
land_use_df.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1980,1980,1000 ha,65286.0,A,Official figure,NaN
1,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1981,1981,1000 ha,65286.0,A,Official figure,NaN
2,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1982,1982,1000 ha,65286.0,A,Official figure,NaN
3,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1983,1983,1000 ha,65286.0,A,Official figure,NaN
4,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1984,1984,1000 ha,65286.0,A,Official figure,NaN

In [80]:
land_use_df['Element'].unique()

array(['Area'], dtype=object)

In [81]:
land_use_df['Unit'].unique()

array(['1000 ha'], dtype=object)

In [82]:
# Unit to numeric
land_use_df['Unit'] = land_use_df['Unit'].astype(str)
land_use_df['Unit'] = land_use_df['Unit'].str.extract('(\d+)').astype(float)
land_use_df
# value to yield_value
# yield_value =  Value * unit
land_use_df['area_value'] = land_use_df['Unit'] * land_use_df['Value']

In [83]:
land_use_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,area_value
0,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1980,1980,1000.0,65286.0,A,Official figure,NaN,65286000.0
1,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1981,1981,1000.0,65286.0,A,Official figure,NaN,65286000.0
2,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1982,1982,1000.0,65286.0,A,Official figure,NaN,65286000.0
3,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1983,1983,1000.0,65286.0,A,Official figure,NaN,65286000.0
4,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1984,1984,1000.0,65286.0,A,Official figure,NaN,65286000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97990,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2017,2017,1000.0,186.6,X,Figure from international organizations,NaN,186600.0
97991,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2018,2018,1000.0,186.6,I,Imputed value,NaN,186600.0
97992,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2019,2019,1000.0,186.6,I,Imputed value,NaN,186600.0
97993,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2020,2020,1000.0,186.6,I,Imputed value,NaN,186600.0
97994,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2021,2021,1000.0,186.6,I,Imputed value,NaN,186600.0

In [84]:
land_use_df['Item'].unique()

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Cropland', 'Arable land', 'Temporary crops',
       'Temporary meadows and pastures', 'Temporary fallow',
       'Permanent crops', 'Permanent meadows and pastures',
       'Perm. meadows & pastures - Nat. growing',
       'Land area equipped for irrigation',
       'Land area actually irrigated',
       'Agriculture area actually irrigated',
       'Farm buildings and Farmyards', 'Cropland area actually irrigated',
       'Perm. meadows & pastures - Cultivated',
       'Perm. meadows & pastures area actually irrig.',
       'Forestry area actually irrigated'], dtype=object)

In [85]:
# extract Cropland Value
land_use_df = pd.get_dummies(land_use_df, columns=['Item'], prefix='', prefix_sep='')

In [86]:
land_use_df.head(4)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Year Code,Year,Unit,...,Land area actually irrigated,Land area equipped for irrigation,Perm. meadows & pastures - Cultivated,Perm. meadows & pastures - Nat. growing,Perm. meadows & pastures area actually irrig.,Permanent crops,Permanent meadows and pastures,Temporary crops,Temporary fallow,Temporary meadows and pastures
0,RL,Land Use,4,Afghanistan,5110,Area,6600,1980,1980,1000.0,...,False,False,False,False,False,False,False,False,False,False
1,RL,Land Use,4,Afghanistan,5110,Area,6600,1981,1981,1000.0,...,False,False,False,False,False,False,False,False,False,False
2,RL,Land Use,4,Afghanistan,5110,Area,6600,1982,1982,1000.0,...,False,False,False,False,False,False,False,False,False,False
3,RL,Land Use,4,Afghanistan,5110,Area,6600,1983,1983,1000.0,...,False,False,False,False,False,False,False,False,False,False

In [87]:
# filter to keep dataset for Cropland = true
land_use_cropland_df = land_use_df[land_use_df['Cropland'] == True]
land_use_cropland_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Year Code,Year,Unit,...,Land area actually irrigated,Land area equipped for irrigation,Perm. meadows & pastures - Cultivated,Perm. meadows & pastures - Nat. growing,Perm. meadows & pastures area actually irrig.,Permanent crops,Permanent meadows and pastures,Temporary crops,Temporary fallow,Temporary meadows and pastures
168,RL,Land Use,4,Afghanistan,5110,Area,6620,1980,1980,1000.0,...,False,False,False,False,False,False,False,False,False,False
169,RL,Land Use,4,Afghanistan,5110,Area,6620,1981,1981,1000.0,...,False,False,False,False,False,False,False,False,False,False
170,RL,Land Use,4,Afghanistan,5110,Area,6620,1982,1982,1000.0,...,False,False,False,False,False,False,False,False,False,False
171,RL,Land Use,4,Afghanistan,5110,Area,6620,1983,1983,1000.0,...,False,False,False,False,False,False,False,False,False,False
172,RL,Land Use,4,Afghanistan,5110,Area,6620,1984,1984,1000.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97759,RL,Land Use,716,Zimbabwe,5110,Area,6620,2017,2017,1000.0,...,False,False,False,False,False,False,False,False,False,False
97760,RL,Land Use,716,Zimbabwe,5110,Area,6620,2018,2018,1000.0,...,False,False,False,False,False,False,False,False,False,False
97761,RL,Land Use,716,Zimbabwe,5110,Area,6620,2019,2019,1000.0,...,False,False,False,False,False,False,False,False,False,False
97762,RL,Land Use,716,Zimbabwe,5110,Area,6620,2020,2020,1000.0,...,False,False,False,False,False,False,False,False,False,False
97763,RL,Land Use,716,Zimbabwe,5110,Area,6620,2021,2021,1000.0,...,False,False,False,False,False,False,False,False,False,False

In [88]:
land_use_cropland_df.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description', 'Note', 'area_value', 'Agricultural land',
       'Agriculture', 'Agriculture area actually irrigated', 'Arable land',
       'Country area', 'Cropland', 'Cropland area actually irrigated',
       'Farm buildings and Farmyards', 'Forestry area actually irrigated',
       'Land area', 'Land area actually irrigated',
       'Land area equipped for irrigation',
       'Perm. meadows & pastures - Cultivated',
       'Perm. meadows & pastures - Nat. growing',
       'Perm. meadows & pastures area actually irrig.', 'Permanent crops',
       'Permanent meadows and pastures', 'Temporary crops', 'Temporary fallow',
       'Temporary meadows and pastures'],
      dtype='object')

In [89]:
columns_to_keep = ['Area','Year Code','Year','Unit', 'Value']
land_use_cropland_df = land_use_cropland_df[columns_to_keep]

In [90]:
land_use_cropland_df['Cropland'] = land_use_cropland_df['Unit'] * land_use_cropland_df['Value']

C:\Users\Hamza EL RHAZI\AppData\Local\Temp\ipykernel_16540\3580435546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_use_cropland_df['Cropland'] = land_use_cropland_df['Unit'] * land_use_cropland_df['Value']

In [91]:
columns_to_keep = ['Area','Year Code','Year','Cropland']
land_use_cropland_df = land_use_cropland_df[columns_to_keep]

In [92]:
#land_use_cropland_df.head(5)

In [93]:
foodtrade_export_security_balance_crops_prod_cropland_df = pd.merge(
    left=food_trade_indicators_export_security_balance_crops_prod_df,
    right=land_use_cropland_df,
    how='left',  
    left_on=['Area', 'Year'],  
    right_on=['Area', 'Year']  
)

In [94]:
#foodtrade_export_security_balance_crops_prod_cropland_df.head(10)

In [95]:
output_file_path = 'ML Coursework Dataset/processed_food_trade_indicators_export_security_balance_crops_prod_land.csv'
foodtrade_export_security_balance_crops_prod_cropland_df.to_csv(output_file_path, index=False)

In [96]:
# integrate Consumer Price
consumer_price_df = pd.read_csv('ML Coursework Dataset/Consumer prices indicators - FAOSTAT_data_en_2-22-2024.csv')

In [97]:
columns_to_keep = ['Area','Year','Item','Months','Element','Unit', 'Value']
consumer_price_df = consumer_price_df[columns_to_keep]
#consumer_price_df.head(5)

In [98]:
consumer_price_df['Item'].unique()

array(['Consumer Prices, Food Indices (2015 = 100)',
       'Food price inflation'], dtype=object)

In [99]:
#consumer_price_df.head(5)

In [100]:
# extract data set for ConsumerPrices
consumer_price_df = pd.get_dummies(consumer_price_df, columns=['Item'], prefix='', prefix_sep='')
consumer_price_df = consumer_price_df[consumer_price_df['Consumer Prices, Food Indices (2015 = 100)'] == True]

In [101]:
consumer_price_df['Consumer_Prices_Food_Indices_2015_100'] = consumer_price_df['Value']
columns_to_keep = ['Area','Year','Consumer_Prices_Food_Indices_2015_100']
consumer_price_df=consumer_price_df[columns_to_keep]

In [102]:
#consumer_price_df.head(5)

In [103]:
consumer_price_aggregated_df = consumer_price_df.groupby(['Year','Area']).sum().reset_index()
#consumer_price_aggregated_df.tail(100)

In [104]:
# left merge of foodtrade_export_security_balance_crops_prod_cropland_df with consumer_price_aggregated_df

In [105]:
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_df = pd.merge(
    left=foodtrade_export_security_balance_crops_prod_cropland_df,
    right=consumer_price_aggregated_df,
    how='left',  
    left_on=['Area', 'Year'],  
    right_on=['Area', 'Year']  
)
#foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_df.head(5)

In [106]:
# finaly, we integrate the exchange rate so all amopunt values will be in dollar regarless the country
# dataset is monthly, so we use average value per year per country!
exchange_rate_df = pd.read_csv('ML Coursework Dataset/Exchange rate - FAOSTAT_data_en_2-22-2024.csv')

In [107]:
exchange_rate_df['exchange_rate_value'] = exchange_rate_df['Value']

In [108]:
columns_to_keep = ['Area','Year','exchange_rate_value']
exchange_rate_df = exchange_rate_df[columns_to_keep]
#exchange_rate_df.head(4)

In [109]:
exchange_rate_aggregated_df = exchange_rate_df.groupby(['Area','Year']).mean().reset_index()

In [110]:
#foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_df.head(3)

In [111]:
# left merge foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_df with exchange_rate_aggregated_df and compute export_value_usd by export_value * Value
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df = pd.merge(
    left=foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_df,
    right=exchange_rate_aggregated_df,
    how='left',  
    left_on=['Area', 'Year'],  
    right_on=['Area', 'Year']  
)

In [112]:
#foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.head(3)

In [113]:
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df['Export Value USD'] = foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df['Export Value'] * foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df['exchange_rate_value']

In [114]:
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df = foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.drop_duplicates(keep='last')
#foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.head(20)

In [115]:
# column yield to be aggregated with SUM for the items that maps to the same target item in food trade dataset
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.columns

Index(['Domain', 'Area', 'Item_x', 'Year', 'Export Value',
       'food imports in total merchandise exports-percent-3-year average',
       'export_quantity_tons', 'yield_value', 'Year Code', 'Cropland',
       'Consumer_Prices_Food_Indices_2015_100', 'exchange_rate_value',
       'Export Value USD'],
      dtype='object')

In [116]:
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df = foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.groupby(['Domain', 'Area', 'Item_x', 'Year', 'Export Value',
       'food imports in total merchandise exports-percent-3-year average',
       'Year Code', 'Cropland', 'Consumer_Prices_Food_Indices_2015_100', 'exchange_rate_value',
       'Export Value USD']).agg({'yield_value':'sum', 'export_quantity_tons':'sum'}).reset_index()

In [117]:
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.head(15)

,Domain,Area,Item_x,Year,Export Value,food imports in total merchandise exports-percent-3-year average,Year Code,Cropland,Consumer_Prices_Food_Indices_2015_100,exchange_rate_value,Export Value USD,yield_value,export_quantity_tons
0,Crops and livestock products,Afghanistan,Alcoholic Beverages,2014,39040.0,3.83,2014.0,7910000.0,1210.343257,57.247500,2.234942e+06,0.0,0.0
1,Crops and livestock products,Afghanistan,Alcoholic Beverages,2015,66620.0,3.84,2015.0,7910000.0,1200.131287,61.143462,4.073377e+06,0.0,0.0
2,Crops and livestock products,Afghanistan,Alcoholic Beverages,2016,8250.0,4.11,2016.0,7910000.0,1268.173032,67.866086,5.598952e+05,0.0,0.0
3,Crops and livestock products,Afghanistan,Alcoholic Beverages,2018,30940.0,3.78,2018.0,8010000.0,1341.236770,72.083247,2.230256e+06,0.0,0.0
4,Crops and livestock products,Afghanistan,Alcoholic Beverages,2020,8780.0,2.84,2020.0,8051000.0,1531.306924,76.813536,6.744228e+05,0.0,0.0
5,Crops and livestock products,Afghanistan,Alcoholic Beverages,2021,60150.0,2.38,2021.0,8051000.0,1615.932785,77.342375,4.652144e+06,0.0,0.0
6,Crops and livestock products,Afghanistan,Cereals and Preparations,2009,15000.0,2.16,2009.0,7916000.0,903.543503,50.325000,7.548750e+05,2040700.0,0.0
7,Crops and livestock products,Afghanistan,Cereals and Preparations,2010,54000.0,2.59,2010.0,7917000.0,901.005455,46.452461,2.508433e+06,2011100.0,0.0
8,Crops and livestock products,Afghanistan,Cereals and Preparations,2011,0.0,3.11,2011.0,7915000.0,997.152791,46.747008,0.000000e+00,1659900.0,0.0
9,Crops and livestock products,Afghanistan,Cereals and Preparations,2012,0.0,3.43,2012.0,7914000.0,1044.344453,50.921400,0.000000e+00,2094200.0,0.0
10,Crops and livestock products,Afghanistan,Cereals and Preparations,2013,0.0,3.42,2013.0,7910000.0,1123.425751,55.377500,0.000000e+00,2127700.0,0.0
11,Crops and livestock products,Afghanistan,Cereals and Preparations,2014,1074450.0,3.83,2014.0,7910000.0,1210.343257,57.247500,6.150958e+07,2096600.0,2000.0
12,Crops and livestock products,Afghanistan,Cereals and Preparations,2015,173080.0,3.84,2015.0,7910000.0,1200.131287,61.143462,1.058271e+07,2206400.0,1000.0
13,Crops and livestock products,Afghanistan,Cereals and Preparations,2016,346570.0,4.11,2016.0,7910000.0,1268.173032,67.866086,2.352035e+07,2043300.0,1000.0
14,Crops and livestock products,Afghanistan,Cereals and Preparations,2017,1628890.0,3.88,2017.0,7910000.0,1356.168095,68.026904,1.108083e+08,2091400.0,2000.0

In [118]:
# save the prepared dataset to csv file 
output_file_path = 'ML Coursework Dataset/processed_dataset_crop_products_export_price.csv'
foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df.to_csv(output_file_path, index=False)

# Dataset for ML

In [119]:
# Scaling library 
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\python38\lib\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in c:\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\python38\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python38\lib\site-packages (from scikit-learn) (3.5.0)

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [154]:
export_df = foodtrade_export_security_balance_crops_prod_cropland_consumer_indices_exchange_df
export_df["forecast_export_value_crops_3_years"] = export_df.groupby(['Area', 'Item_x'])['Export Value USD'].shift(3)
export_df.dropna(subset = ['forecast_export_value_crops_3_years'], inplace = True)
export_df.isnull().sum()
export_df = export_df.drop(columns = ['Domain', 'Year Code'])
export_sorted_df = export_df.sort_values(by=['Area', 'Year'])
# lag_columns
export_sorted_df['export_value_lag_1_year'] = export_sorted_df.groupby('Area')['Export Value USD'].shift(1)
export_sorted_df['export_value_lag_2_years'] = export_sorted_df.groupby('Area')['Export Value USD'].shift(2)
export_sorted_df['export_value_lag_3_years'] = export_sorted_df.groupby('Area')['Export Value USD'].shift(3)
export_sorted_df['export_value_moving_avg_3yr'] = export_sorted_df.groupby('Area')['Export Value USD'].transform(lambda x: x.rolling(window=3, min_periods=1).mean())
# fill missing lags with mean per area per item_x
mean1=export_sorted_df['export_value_lag_1_year']
mean2=export_sorted_df['export_value_lag_2_years']
mean3=export_sorted_df['export_value_lag_3_years']
export_sorted_df['export_value_lag_1_year'] = export_sorted_df.groupby(['Area','Item_x'])['export_value_lag_1_year'].transform(lambda x: x.fillna(x.mean()))
export_sorted_df['export_value_lag_2_years'] = export_sorted_df.groupby(['Area','Item_x'])['export_value_lag_2_years'].transform(lambda x: x.fillna(x.mean()))
export_sorted_df['export_value_lag_3_years'] = export_sorted_df.groupby(['Area','Item_x'])['export_value_lag_3_years'].transform(lambda x: x.fillna(x.mean()))
export_sorted_df.dropna(inplace=True)
original_df = export_sorted_df.copy()
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
features = export_sorted_df.drop(['forecast_export_value_crops_3_years'], axis=1)
target = export_sorted_df['forecast_export_value_crops_3_years']
export_sorted_df.columns
'''
Index(['Area', 'Item_x', 'Year', 'Export Value',
       'food imports in total merchandise exports-percent-3-year average',
       'Cropland', 'Consumer_Prices_Food_Indices_2015_100',
       'exchange_rate_value', 'Export Value USD', 'yield_value',
       'export_quantity_tons', 'forecast_export_value_crops_3_years',
       'export_value_lag_1_year', 'export_value_lag_2_years',
       'export_value_lag_3_years', 'export_value_moving_avg_3yr'],
      dtype='object')
'''
categorical_columns = ['Area','Item_x']
numerical_columns = ['Year','Export Value','food imports in total merchandise exports-percent-3-year average',
                     'Cropland','Consumer_Prices_Food_Indices_2015_100','exchange_rate_value','Export Value USD','yield_value','export_quantity_tons',
                     #'forecast_export_value_crops_3_years',
                     'export_value_lag_1_year', 'export_value_lag_2_years',
       'export_value_lag_3_years', 'export_value_moving_avg_3yr']

In [155]:

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [156]:
numerical_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [157]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

In [158]:
mlp_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', MLPRegressor(hidden_layer_sizes=(60,40), activation='relu', alpha = 0.001, learning_rate_init = 0.00001, random_state=10, max_iter=100000))
])

In [159]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=100)

In [160]:
X_train.shape

(16964, 15)

In [161]:
X_test.shape

(4241, 15)

In [162]:
y_train.shape

(16964,)

In [163]:
y_test.shape

(4241,)

In [164]:
mlp_pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['Year', 'Export Value',
                                                   'food imports in total '
                                                   'merchandise '
                                                   'exports-percent-3-year '
                                                   'average',
                                                   'Cropland',
                                                   'Consumer_Prices_Food_Indices_2015_100',
                                                   'exchange_rate_value',
                                                   'Export Value USD',
                                                   'yield_value',
                                                   'export_quantity_tons',
                                                   'export_value_lag_1_year',
                                                   'export_value_lag_2_years',
                                                   'export_value_lag_3_years',
                                                   'export_value_moving_avg_3yr']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Area', 'Item_x'])])),
                ('regressor',
                 MLPRegressor(alpha=0.001, hidden_layer_sizes=(60, 40),
                              learning_rate_init=1e-05, max_iter=100000,
                              random_state=10))])

In [165]:
y_pred = mlp_pipeline.predict(X_test)

In [174]:
mlp_pipeline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['Year', 'Export Value',
                                                   'food imports in total '
                                                   'merchandise '
                                                   'exports-percent-3-year '
                                                   'average',
                                                   'Cropland',
                                                   'Consumer_Prices_Food_Indices_2015_100',
                                                   'exchange_rate_value',
                                                   'Export Value USD',
                                                   'yield_value',
                                                   'export_quantity_tons',
                                                   'export_value_lag_1_year',
                                                   'export_value_lag_2_years',
                                                   'export_value_lag_3_years',
                                                   'export_value_moving_avg_3yr']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Area', 'Item_x'])])),
                ('regressor',
                 MLPRegressor(alpha=0.001, hidden_layer_sizes=(60, 40),
                              learning_rate_init=1e-05, max_iter=100000,
                              random_state=10))])

In [166]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error: {rmse}")

Root Mean Squared Error: 10033915751848.21

In [167]:
result_df = X_test.copy()
result_df['Actual Export Value'] = y_test
result_df['Predicted Export Value'] = y_pred
output_columns = ['Area', 'Item_x', 'Year', 'Actual Export Value', 'Predicted Export Value']
final_output_df = result_df[output_columns]

In [168]:
final_output_df

,Area,Item_x,Year,Actual Export Value,Predicted Export Value
31239,Saint Vincent and the Grenadines,Non-alcoholic Beverages,2017,4.979718e+06,0.382877
37793,United Arab Emirates,Non-edible Fats and Oils,2018,4.404058e+07,0.278010
17541,Iraq,Tobacco,2011,4.305443e+08,0.295648
28825,Poland,Fats and Oils (excluding Butter),2018,2.443722e+09,0.236854
16116,Honduras,Sugar and Honey,2017,2.101480e+09,0.109855
...,...,...,...,...,...
7965,"China, mainland",Tobacco,2021,9.299036e+09,0.547045
37669,United Arab Emirates,Cereals and Preparations,2014,2.145203e+09,0.250140
18088,Italy,Dairy Products and Eggs,2019,2.742438e+09,0.194804
25137,Nepal,Non-food,2016,3.606369e+09,0.220348
15037,Guatemala,Alcoholic Beverages,2016,3.599128e+08,0.401979

In [169]:
# Save results to CSV
final_output_df.to_csv('MLP_Predictions_export_value_13_5_3.csv', index=False)
print('Predictions with additional details have been saved to MLP_Predictions_export_value.csv')

Predictions with additional details have been saved to MLP_Predictions_export_value.csv